{% extends 'base.html' %}
{% block content %}
    {# 使用length 过滤器获取movies 变量的长度 #}
    <P>{{ movies|length }} Titles</P>
    <ul class="movie-list">
        {% for movie in movies %}
        {# 等同于movie['title'] #}
        <li>{{ movie.title }} - {{ movie.year }}
            <span class="float-right">
                <a class="douban" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank" title="Find this movie on douban">豆瓣</a>
                {% if current_user.is_authenticated %}
                <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">Edit</a>
                <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
                    <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
                </form>
                {% endif %}
            </span>
        </li>
        {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}
    <form method="post">
        Name <input type="text" name="title" autocomplete="off" required>
        Year <input type="text" name="year" autocomplete="off" required>
        <input class="btn" type="submit" name="submit" value="Add">
    </form>
    {% endif %}
    <img alt="Saber" class="tail-img" src="{{ url_for('static', filename='images/saber.gif') }}" title="Saber">
{% endblock %}