{% extends 'base.html' %}
{% block content %}
    {# 使用length 过滤器获取movies 变量的长度 #}
    <P>{{ movies|length }} Titles</P>
    <ul class="movie-list">
        {% for movie in movies %}
        {# 等同于movie['title'] #}
        <li>{{ movie.title }} - {{ movie.year }}
            <span class="float-right">
                <a class="douban" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank" title="Find this movie on douban">豆瓣</a>
            </span>
        </li>
        {% endfor %}
    </ul>
    <img alt="Saber" class="tail-img" src="{{ url_for('static', filename='images/saber.gif') }}" title="Saber">
{% endblock %}