<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <title>{{ name }}'s watchlist</title>
</head>
<body>
    <h2><img class="avatar" src="{{ url_for('static', filename='images/saber_head.png') }}">{{ name }}'s watchlist</h2>
    {# 使用length 过滤器获取movies 变量的长度 #}
    <P>{{ movies|length }} Titles</P>
    <ul class="movie-list">
        {% for movie in movies %}
        {# 等同于movie['title'] #}
        <li>{{ movie.title }} - {{ movie.year }}</li>
        {% endfor %}
    </ul>
    <img class="totoro" src="{{ url_for('static', filename='images/saber.gif') }}">
    <footer>
        <small>&copy; 2020<a href="http://www.dogedoge.com">Hello test</a></small>
    </footer>
</body>
</html>>